body{
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    min-height: 20%;
    max-height: 100%;
    height: auto;
}

.wrapper-container.chat-page { padding: 0 0 0 360px}

.usersInChat { position: fixed; right: 0; top: 0; z-index: 100; margin-left: 90px;}
    .usersInChat img { margin: 0; display: block;  border-bottom: 2px solid #23b5ae;}
    .usersInChat img.active { border-bottom-color: #ff7b84;}
    .usersInChat .addUser { width: 52px; height: 52px; background: #e6e6e6; color: #23b5ab; font-size: 24px; display: inline-block; }
    .usersInChat a { display: block; float: right; position: relative;}
    .usersInChat .shadow.circle_remove:before { position: absolute; color: #fff; display: inline-block;  top: 18px; left: 20px;}
    .usersInChat .shadow { position: absolute; background: rgba(167,169,170,0.7); width: 100%; height: 100%; top: 0; left: 0; display: none; }
    .usersInChat a:hover .shadow { display: block;}


    .usersInChat .addUser:hover { color: #1d9991;}
    .usersInChat .addUser.glyphicons:before { margin: 0; position: relative; top: 5px;}

.chatFindUser { margin-bottom: 20px;}
    .chatFindUser .item {padding: 9px 26px 13px 26px; margin: 2px -26px 0 -26px; cursor: pointer;}
    .chatFindUser .item:hover { background: #f5f6f8;}
    .chatFindUser .item.active { background: #25B5BE}
    .chatFindUser .item.active .info .name, .chatFindUser .item.active .info .position { color: #fff;}
    .chatFindUser .item.active .ava { border-bottom-color: #FF7B84;}
    .chatFindUser .ava { border-bottom: 2px solid #23B5AE; display: block; float: left; height: 50px; width: 50px;}
    .chatFindUser .info { margin-left: 66px;}
        .chatFindUser .info .name {  display: inline-block; font-size: 15px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; font-weight: 600; color: #313131;  }
        .chatFindUser .info .position {  display: inline-block; font-size: 13px; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; width: 100%; color: #616161; font-weight: 400;}

.dialog {
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
    width: 100%;
    height: 100%;
}

.innerDialog { position: relative; padding: 0 47px 0 35px;  /*overflow: auto;*/ z-index: 20;}
@media (max-width: 767px) { .innerDialog { padding: 0 10px 0 10px; } }

    .dialog .text { -webkit-border-radius: 4px; -moz-border-radius: 4px; border-radius: 4px; font-size: 15px; padding: 9px 25px 15px 20px; position: relative; color: #313131; line-height: 24px;}
    .dialog .time { color: #aaa; font-size: 11px; padding-top: 5px;}
    .dialog .date { color: #616161; font-size: 13px; text-align: center; font-weight: 700; margin-top: 49px; }
    .dialog .leftMessage { float: left; margin-top: 49px; max-width: 100%;}
        .dialog .leftMessage:first-child { margin-top: 0;}
        .dialog .leftMessage .ava { float: left;}
        .dialog .leftMessage .text { background: #f8f8f0; margin: 0 114px 0 73px; word-wrap: break-word;}
        .dialog .leftMessage .time  { float: right; width: 100px; }
        .dialog .leftMessage .text:before { content: ''; width:0; height:0; border-top: 6px solid transparent; border-right: 9px solid #f8f8f0; border-bottom: 6px solid transparent; position: absolute; top: 15px; left: -9px; z-index: 2;}

    .dialog .rightMessage { float: right; margin-top: 49px; max-width: 100%; position: relative;}
        .dialog .rightMessage .text { background: #f4f9ff; margin: 0 0 0 114px; word-wrap: break-word;}
        .dialog .rightMessage .time { float: left; width: 100px; text-align: right;}
        .dialog .rightMessage .text:before { content: ''; width:0; height:0; border-top: 6px solid transparent; border-left: 9px solid #f4f9ff; border-bottom: 6px solid transparent; position: absolute; top: 15px; right: -9px; z-index: 2;}
        .dialog .rightMessage .editPanel { position: absolute; left: 0; bottom: 0; color: #f4f9ff; -webkit-transition: all .2s; -moz-transition: all .4s; -ms-transition: all .4s; -o-transition: all .4s; transition: all .4s; opacity: 0; font-size: 18px;}
        .dialog .rightMessage:hover .editPanel { opacity: 1;}
        .dialog .rightMessage .editPanel .glyphicons { -webkit-transition: all .2s; -moz-transition: all .2s; -ms-transition: all .2s; -o-transition: all .2s; transition: all .2s; color: #ccc; cursor: pointer; margin-right: 10px;}
        .dialog .rightMessage:hover .editPanel .glyphicons:hover { color: #67cbd2;}

@media (-webkit-min-device-pixel-ratio: 2) {
    .dialog .rightMessage .editPanel { left: auto; right: 0; top: 0; font-size: 26px;}
    .dialog .rightMessage:hover .editPanel { top: -45px;}
}

    .dialog .rightMessage .text .filetype, .dialog .leftMessage .text .filetype { font-size: 24px;}
    .dialog .rightMessage .text .fileLink, .dialog .leftMessage .text .fileLink {}
    .dialog .rightMessage .text img, .dialog .leftMessage .text img { max-width: 100%;}

    .dialog .text.anotherText { margin-top: 8px;}
    .dialog .text.anotherText:before { border: none;}


.openChats { padding: 0; }
    .openChats .item { border: 1px solid #eee; border-left: none; position: relative; float: left; font-size: 0; }
        .openChats .item .ava { display: inline-block; width: 50px; height: 50px; cursor: pointer; vertical-align: middle;}
        .openChats .item .badge.badge-important { position: absolute; bottom: -8px; left: 17px; z-index: 3;border-radius: 50%;color:#fff;}
        .openChats .item .remove { border-left: 1px solid #eee; height:50px; padding: 13px 12px 0 12px; float: right; width: 41px;}
        .openChats .item .name { font-size: 15px;  border-left: none; margin: 0; padding: 0 19px 0 19px; cursor: pointer; max-width: 238px; display: inline-block; vertical-align: middle;}
        .openChats .item .circle_remove { color: #c1c1c1; font-size: 13px;}
        .openChats .item .circle_remove:before { font-size: 16px;}

        .openChats .item.disable-remove .circle_remove { display: none;}
        .openChats .item.disable-remove .remove { border-left-color: #25b5be !important;}

    .openChats .item.active, .openChats .item:hover { background: #25b5be;}
        .openChats .item.active .circle_remove, .openChats .item:hover .circle_remove  { color: #fff;}
        .openChats .item.active .remove, .openChats .item:hover .remove { border-left-color: #67cbd2;}
        .openChats .item.active .name, .openChats .item:hover .name { color:#fff;}

        .openChats .item:hover .ava { opacity: 0.7; filter: alpha(opacity=70);}
        .openChats .item .circle_remove:hover { color: #dfdfdf;}

    .openChats .item .user { display: inline-block;  position: relative;}
    /*.openChats .item .shadow { position: absolute; background: rgba(167,169,170,0.7); width: 100%; height: 100%; top: 0; left: 0; display: none; }*/
    .openChats .item .user .circle_remove { position: absolute; color: #fff; top: 13px; left: 20px; display: none;}
    .openChats .item .user .circle_remove:before { margin-right: 0;  }
    .openChats .item .user .circle_remove:hover { color: #C1C1C1;}
    .openChats .item .user:hover .circle_remove { display: block;}

    .openChats .badge-important { background-color: #ff6363; text-align: center; font-size: 10px; padding: 0; font-weight: normal; text-shadow: none; line-height: 17px; height: 18px; width: 18px; }


.sendForm  { margin: 20px auto 10px auto; width: 59.7%; max-width: 544px; position: relative;}
    .sendForm  .ava { width: 50px; height: 50px; position: absolute; left:-78px; top: 0; }
    .sendForm .text { color: #818181; font-size: 11px; padding: 0 0 5px 0;}
    .sendForm textarea { resize: none; outline: none; font-size: 24px; font-weight: 700; color: #313131; width: 78%; float: left; padding: 0; display:block; margin: 0 0 0 4%; border: none; box-shadow: none; font-family: 'Open Sans', sans-serif;  height: 80px; line-height: 36px; box-sizing: border-box; max-height: 200px; }
    .sendForm .icon_enter { float: right; position: relative; margin-top: 48px;}

    .sendForm .leftBtns {width: 31px; float: left;}
    .sendForm #chatFileChoose-styler { margin: 0; padding: 0; margin-bottom: 15px; width: 29px;}
    .sendForm #sendChatSmile { margin-top: 0; margin-bottom: 15px; float: none; }
    .sendForm .formBottom  { border-top: 2px solid #eee; padding: 10px 0 0 0;}
        .sendForm .formBottom .inputFile { float: left;}
        .sendForm .formBottom .inputFile input[type=file] { opacity: 0; width: 31px; height: 31px; overflow: hidden; cursor: pointer;}
        .sendForm .formBottom span.text { float: right; font-size: 11px; color: #aeaeae;}

    .sendForm .btn:focus,
    .sendForm .btn:active:focus,
    .sendForm .btn.active:focus,
    .sendForm .btn.focus,
    .sendForm .btn:active.focus,
    .sendForm .btn.active.focus { outline: none; }

    .sendForm .jq-file { height: 31px; width: 100%; cursor: pointer }
        .sendForm .jq-file .jq-file__name { display: none; }
        .sendForm .jq-file input { cursor: pointer}
        .sendForm .jq-file .jq-file__browse {
            background-color: #FFF;
            border: 1px solid #CCC;
            -webkit-border-radius: 3px;
                    border-radius: 3px;
            color: #616161;
            cursor: pointer;
            display: inline-block;
            font-size: 14px;
            width: 100%;
            overflow: hidden;
            padding: 4px 8px 5px;
            text-align: center;
            text-overflow: ellipsis;
            white-space: nowrap;
            font-weight: 600;
            height: 31px;
        }
        .sendForm .jq-file:hover .jq-file__browse { background-color: #FFF; border-color: #22b5ae; color: #22b5ae;}
        .sendForm .jq-file:active .jq-file__browse { background-color: #22b5ae; border-color: #22b5ae; color: #fff;}

        .sendForm .attachFile { float: left; width: auto;}
        .sendForm .attachFile .paperclip { cursor: pointer; font-size: 16px; }
        .sendForm .attachFile .jq-file__browse { padding: 0 0 0 5px; margin: 0; text-align: center; line-height: 24px;}


/********************************/
    .sendForm .icon_enter .submitArrow { background: url('../img/submit_arrow_sprite.png') no-repeat 0 0; width: 15px; height: 15px; display: inline-block; background-size: cover; margin: -1px -3px;}
        .sendForm .icon_enter:hover .submitArrow { background-position: 0 -30px; }
        .sendForm .icon_enter:active .submitArrow, .sendForm .icon_enter.active .submitArrow { background-position: 0 -15px; background-color: #25b5be }
        .sendForm .icon_enter {  font-weight: normal;  padding: 7px 9px 7px 9px; line-height: 10px;  }

/********************************/
    .sendForm .icon_enter .smile { background: url('../img/submit_smile_sprite.png') no-repeat 0 0; width: 19px; height: 19px; display: inline-block; background-size: cover; margin: -2px -5px;}
        .sendForm .icon_enter:hover .smile { background-position: 0 -38px; }
        .sendForm .icon_enter:active .smile, .sendForm .icon_enter.active .smile { background-position: 0 -19px; background-color: #25b5be }
        .sendForm .icon_enter {  font-weight: normal;  padding: 7px 9px 7px 9px; line-height: 10px;  }

    /* retina */
    @media ( -webkit-min-device-pixel-ratio: 2 ) {
    /*@media ( min-width: 600px ) {*/
        .sendForm .leftBtns { width: 45px; height: 110px; }
        .sendForm #chatFileChoose-styler  { width: 45px; height: 45px; margin-bottom: 10px; }
        .sendForm .attachFile .paperclip { cursor: pointer; font-size: 30px; top: 6px; }
        .sendForm .jq-file .jq-file__browse  { height: 45px; }

        .sendForm #sendChatSmile { padding: 6px; width: 45px; height: 45px; }
        .sendForm .icon_enter .smile { width: 31px; height: 31px; margin: 0; }
        .sendForm .icon_enter:hover .smile { background-position: 0 -62px;   }
        .sendForm .icon_enter:active .smile, .sendForm .icon_enter.active .smile { background-position: 0 -31px; }

        .sendForm #sendChatMsg { padding: 9px; width: 45px; height: 45px; margin-top: 55px; }
        .sendForm .icon_enter .submitArrow { width: 25px; height: 25px; margin: 0; }
        .sendForm .icon_enter:hover .submitArrow { background-position: 0 -50px; }
        .sendForm .icon_enter:active .submitArrow, .sendForm .icon_enter.active .submitArrow { background-position: 0 -25px;}

        .sendForm textarea { width: 72%; height: 100px; }
    }

    .sendForm .preloadArea {float: left; margin-right: 10px}
    .sendForm .preloadThumb { width: 84px; height: 84px; overflow: hidden; margin-top: 14px; position: relative; text-align: center;}
    .sendForm .preloadThumb img { display: block;  margin: auto; }
    .sendForm .preloadThumb .circle_remove { position: absolute; right: 0; top: 0; font-size: 12px; color: #25B5BE;}
    .sendForm .preloadThumb .circle_remove:hover { color: #ccc; }
    .sendForm .preloadThumb .progress { width: 62px; background-color: #fff; height: 3px; box-shadow: none; position: absolute; margin: 0; top: 41px; left: 12px;}

    .sendForm .preloadFile { width: 67px; height: 83px; overflow: hidden; margin-top: 14px; position: relative; text-align: center;}
    .sendForm .preloadFile .filetype { font-size: 84px; line-height: 20px; margin-left: -7px;}
    .sendForm .preloadFile .filetype:before { margin-right: 0}
    .sendForm .preloadFile .circle_remove { position: absolute; right: 0; top: 0; font-size: 12px; color: #25B5BE; background: #fff; padding-left: 1px;}
    .sendForm .preloadFile .circle_remove:hover { color: #dfdfdf; }
    .sendForm .preloadFile .progress { width: 62px; background-color: #fff; height: 3px; box-shadow: none; position: absolute; margin: 0; top: 39px; left: 4px;}

.pageOrder { margin: 0 0 0 126px; padding-right: 35px;}
    .pageOrder h1 { margin: 0; padding: 20px 0 24px 0; font-family: 'Roboto', sans-serif; font-weight: 900; font-size: 36px;}
    .pageOrder .rightButton { float: right; margin: 34px 0 0 10px;}
    .pageOrder .rightButton.active { background: #22b5ae; color: #fff; text-shadow: none; box-shadow: none; }
    .pageOrder .product {}
        .pageOrder .product .fullImg { float: left; max-width: 106px; display: block;}
        .pageOrder .product .description { font-size: 15px; line-height: 24px; max-width: 520px; margin-left: 142px;}
            .pageOrder .product .description .info { padding-bottom: 23px; }
            .pageOrder .product .description .price { font-size: 24px; font-weight: 700; display: inline-block; vertical-align: middle; margin-right: 28px;}
            .pageOrder .product .description .btn { margin-left: 6px;}

            .pageOrder .product .description .jq-selectbox__trigger { border-left: none; width: 20px; }
            .pageOrder .product .description .jq-selectbox  { width: 95px; margin-left: 7px;}
            .pageOrder .product .description .jq-selectbox__trigger-arrow { width: 11px; height: 8px;  background: url('../img/arrows.png') no-repeat 0 0; background-size: cover; border: none; top: 10px; right: 8px; opacity: 1; filter: alpha(opacity=100);}
            .pageOrder .product .description .jq-selectbox__select { background: none; box-shadow: none; color: #616161; font-family: 'Open Sans', sans-serif; font-weight: 600; border-radius: 2px; height: 28px; padding: 0px 23px 0px 10px; border-color: #ccc; line-height: 27px;}
            .pageOrder .product .description .jq-selectbox__select:hover { background: #22b5ae; color: #fff; text-shadow: none; }
            .pageOrder .product .description .jq-selectbox__select:hover .jq-selectbox__trigger-arrow { background-position:  0 -8px; }
            .pageOrder .product .description .jq-selectbox.focused .jq-selectbox__select { border: 1px solid #22b5ae;}
            .pageOrder .product .description .jq-selectbox li:hover { background: #22b5ae; }

            .pageOrder .product .description .select110 { width: 110px;}

    .pageOrder .contactForm { margin: 24px 0 50px 0;}
        .pageOrder .contactForm label { color: #818181; font-size: 11px; margin-top: 29px;}
        .pageOrder .contactForm input[type="text"] {
            border: none;
            border-radius: 0;
            width: 100%;
            max-width: 573px;
            border-bottom: 2px solid #eee;
            resize: none;
            outline: none;
            font-size: 24px;
            font-weight: 700;
            color: #313131;
            padding: 0 0 10px 0;
            margin: 0;
            box-shadow: none;
            font-family: 'Open Sans', sans-serif;
            height: 45px;
            box-sizing: border-box;
        }
        .pageOrder .contactForm input.error { border-bottom-color: red; color: red;}
        .pageOrder .contactForm input.error:-moz-placeholder { color: red;}
        .pageOrder .contactForm input.error::-webkit-input-placeholder { color: red; }

    .pageOrder .myOrders { width: 100%; text-align: left; margin-top: 5px;}
        .pageOrder .myOrders th { color: #616161; font-size: 13px; font-weight: 400; padding-bottom: 3px}
        .pageOrder .myOrders tr td { border-top: 1px solid #eee; color: #313131; font-size: 15px; vertical-align: top; padding: 12px 0 16px 0;}
        .pageOrder .myOrders tr td .description { font-size: 13px; color: #616161; padding-top: 8px; }
        .pageOrder .myOrders tr td.status { font-weight: 700;}

@media (max-width: 600px) {
    /*.dialog { padding: 0 15px 0 100px;}*/
    .dialog .text { padding-left: 5px; padding-right: 5px; font-size: 12px; line-height: 20px; }
    .dialog .leftMessage .text { margin-left: 60px;}
}

@media (max-width: 760px) {
    .pageOrder .product .description .price { display: block; padding-bottom: 5px;}
    .pageOrder .product .description .jq-selectbox, .pageOrder .product .description .btn { margin-top: 10px;}
}

@media (max-width: 540px) {
    .pageOrder .product .fullImg { float: none;}
    .pageOrder .product .description { margin-left: 0; margin-top: 10px;}
    .pageOrder { margin-left: 100px; padding-right: 10px;}
    .pageOrder .rightButton { float: none; margin-top: 5px;}
}


.chat-page .bottom {  width: 100%; position: fixed; right: 0; bottom: 0; background: #fff; z-index: 100; }

.sendForm .btn-default, .sendForm .btn-default:focus, .sendForm .btn-default.focus { background-color: transparent; border-color: #ccc; color: #616161; }
.sendForm .btn-default:hover { background-color: transparent; border-color: #22b5ae; color: #22b5ae; }

.sendForm .btn-default:active, .sendForm .btn-default.active { background-color: #22b5ae; border-color: #22b5ae; color: #fff; }

/* MODAL */


/* Popup */
.modal { font-family: 'Open Sans';  z-index: 200001; background: rgba(0,0,0,0.5)}
    .modal .outer-modal-dialog { width: 100%; height: 100%; display: table;  }
    .modal .modal-dialog {  margin: 0 !important; display: table-cell; width: auto; vertical-align: middle; z-index: 1100;}
    .modal-open .modal { }

    .modal .modal-content { -webkit-border-radius: 3px; border-radius: 3px; border: 1px solid #ccc; padding: 13px 25px 16px;  max-width: 680px; margin: 0 auto;}
    .modal h4 { color: #313131; font-family: "Roboto"; font-size: 17px; font-weight: 400; margin: 0 0 20px 0;}
    .modal .circle_remove { position: absolute; right: 0; top: 0; cursor: pointer;}
    .modal .form-group { padding-bottom: 6px; margin-bottom: 20px;}
    .modal .form-group input, .modal .form-group textarea, .modal .form-group .form-control { font-size: 16px; font-family: "Roboto"; font-weight: normal; /*padding-left: 0; padding-right: 0; */}
    .modal .dateTime { width: 160px; }
    .modal .dateTime .form-control { font-family: 'Open Sans'; font-size: 14px; font-weight: 600;}
    .modal textarea { height: 45px;}
    .modal .jq-selectbox { width: 100%;}
    .modal .selectBoxLeft .jq-selectbox { width: 105px; margin-right: 10px;}
    .modal .bankOrders .jq-selectbox { width: 140px; }

    .modal .btn-primary, .btn-primary:focus, .btn-primary.focus { background-color: #FFF!important; border-color: #22b5ae!important; color: #616161!important; }
    .modal .btn-primary:hover { background-color: #FFF!important; border-color: #22b5ae!important; color: #22b5ae!important; }
    .modal .btn-primary:active { background-color: #22b5ae!important; border-color: #22b5ae!important; color: #fff!important; }
    .modal .btn { font-weight: 600; padding: 4px 12px 5px 12px; -webkit-border-radius: 3px!important; border-radius: 3px!important; text-decoration: none; font-family: 'Open Sans';}
    .modal .btn.disabled { cursor: default!important; border-color: #dedede!important; background: #fff!important; color: #a4a4a4!important; }

    .modal .summ { position: relative;}
        .modal .summ .form-control { padding-right: 80px}
        .modal .summ .jq-selectbox { position: absolute !important; right: 0; top: 25px; width: 58px; }

@media (max-width: 767px) { .modal .modal-content { max-width: 360px; padding: 13px 10px 16px;} }
@media (-webkit-min-device-pixel-ratio: 2) { .modal .circle_remove { font-size: 26px;} }
/* End Popup */

/* Smile Popover */
.sendForm .popover { width: 500px; max-width: 500px; background: white; color: #5B5B5B; border: 1px solid #ccc; border-radius: 3px; box-shadow: 0 25px 15px -20px rgba(0, 0, 0, .5); padding: 16px; font-family: 'Open Sans' }
.sendForm .popover-content { padding: 0; }
.popover .smileRow { text-align: justify; }
.popover .smileRow:before { content: ''; display: block; width: 100%; margin-bottom: -1.2em; }
.popover .smileRow:after { content: ''; display: inline-block; width: 100%; }
.popover .smileRow .smileSelect { display: inline-block; position: relative; top: 1.2em; padding: 5px 10px; box-sizing: border-box; }
.popover .smileRow .smileSelect:hover { color: #fff; background: #25b5be; cursor: pointer; }

.form-group { border-bottom: 2px solid #EEE; margin-bottom: 27px; padding-bottom: 10px;}
    .form-group.noBorder { border-bottom: none; padding-bottom: 12px; }
    .form-group label { color: #818181; font-size: 11px; margin: 0 0 8px 0; font-weight: normal; display: block; }
    .form-group input, .form-group textarea { border: none; -webkit-box-shadow: none; box-shadow: none; color: #313131; font-size: 24px; padding: 0; font-weight: 700; resize: none}
@media (max-width: 767px) { .form-group input, .form-group textarea { font-size: 18px;} }
    .form-group input:focus, .form-group textarea:focus { -webkit-box-shadow: none; box-shadow: none; outline: none;}

.glyphicons.circle_remove { color: #cbcbcb; }
.glyphicons.circle_remove:hover {color: #23b5ae;}

div.btn span{ display: none }
div.btn.loadBtn span{ display: inline }

div.btn img{ display: inline }
div.btn.loadBtn img{ display: none }
.popover .arrow { display: none;}

.chat-dialogs {
    margin-top: 140px;
    /*margin-top: 160px;*/
}

@media (max-width: 1024px) {

    .calculatorModal .modal-content {max-width: 300px;}
    .calculator .btn { width: 56px; height: 50px;}
    .calculator .btn.equally{height: 105px;}
    .calculator .colomn{width: 185px;}

    .sendForm .icon_enter:hover .smile{background-position: 0 -60px;}
    .sendForm .icon_enter .smile{  width: 30px;  height: 30px;}
    .sendForm #chatFileChoose-styler{  width: 40px;}
    .sendForm .jq-file{height: 40px;}
    .sendForm .jq-file .jq-file__browse{  height: 40px;   font-size: 35px;}
}

.fileuploader-wrapper {
    position: relative;
    overflow: hidden;
}

.fileuploader-wrapper input {position: absolute;
    top: 0;
    right: 0;
    opacity: 0;
    filter: alpha(opacity=0);
    font-size: 300px;
    height: 200px;
}

/* --------------------------------- */
/* ---------- панель чата ---------- */
/* --------------------------------- */

.dropdown-chatPanel { position: fixed; top: 0; left: 90px; width: 270px; height: 100%; overflow: hidden; padding-top: 160px; }
    .dropdown-chatPanel .dropdown-panel-wrapper { height: 100%; overflow-y: auto; overflow-x: hidden; width: 285px; }
    .dropdown-chatPanel .messages-list { width: 270px; }
        .dropdown-chatPanel .messages-list ul { padding: 0; list-style: none; }
        .dropdown-chatPanel .messages-list li { padding: 8px 10px 8px 10px; border-top: 1px solid #DDDDDD; cursor: pointer; }
            .dropdown-chatPanel .messages-list li:first-child { border-top: none; }
            .dropdown-chatPanel .messages-list li:hover { background: #e4efed; }
            .dropdown-chatPanel .messages-list li.messages-new:hover { background: #e4efed; }
            .dropdown-chatPanel .messages-list li .messages-user {
                float: left;
                height: 52px;
                width: 50px;
                overflow: hidden;
                border-bottom: 2px solid transparent;
                text-align: center;
                margin-right: 15px; }
            /*.dropdown-chatPanel .messages-list li .messages-user.rate-10 { border-color: #23b5ae; }*/
            /*.dropdown-chatPanel .messages-list li .messages-user.rate-0 { border-color: #ff6363; }*/
            .dropdown-chatPanel .messages-list li .messages-user img { display: block; height: 50px; width: 50px; border-radius: 50%; }
            .dropdown-chatPanel .messages-list li .text { height: 52px; width: 130px; padding-top: 3px; float: left; }

.dropdown-chatPanel .messages-list li .text .name { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; padding: 0 0 3px; }
.dropdown-chatPanel .messages-list li .text .name.fullWidth { width: 165px;}

.dropdown-chatPanel .messages-list li .text .message { width: 100%; overflow: hidden; text-overflow: ellipsis; white-space: nowrap; color: #616161;}


.dropdown-chatPanel .messages-list li .text .message .count { float: right;}

          .dropdown-chatPanel .messages-list li .text .message .inner-user {
            display: inline-block;
            height: 25px;
            width: 25px;
            margin: -3px 5px 0 0;
            float: left; }
            .dropdown-chatPanel .messages-list li .text .message .inner-user img {
              display: block; }
      .dropdown-chatPanel .messages-list li .aside-block {
        width: 35px;
        float: right; }

.dropdown-chatPanel .messages-list li .time { font-size: 11px; color: #818181; float: left; padding-top: 2px; }

.dropdown-chatPanel .messages-list li .count {
    display: inline-block;
    height: 18px;
    width: 19px;
    border-radius: 50%;
    background: #ff6363;
    text-align: center;
    font-size: 10px;
    padding: 2px 0;
    color: #fff;
}

.dropdown-chatPanel .messages-list li .aside-block { float: right; position: relative; width: 37px; text-align: center; margin: -16px -13px -16px 0; height: 78px; color: #ababab; font-size: 12px; }

.dropdown-chatPanel .messages-list li .aside-block .plus { position: absolute; left: 10px; top: 12px; }
.dropdown-chatPanel .messages-list li .aside-block .trash { position: absolute; left: 10px; bottom: 12px; }

.dropdown-chatPanel .messages-list li .aside-block .halflings:hover { color: #22B5AE;}

@media (-webkit-min-device-pixel-ratio: 2) and (max-width: 920px) {
    .wrapper-container.chat-page { padding: 0 0 0 160px; }

    .dropdown-chatPanel { width: 70px; }
    .dropdown-chatPanel .dropdown-panel-wrapper { width: 90px; }
    .dropdown-chatPanel .dropdown-panel-wrapper .messages-list.allMessages { width: 70px; }
    .dropdown-chatPanel .dropdown-panel-wrapper .messages-list.allMessages .text { display: none; }
    .dropdown-chatPanel .dropdown-panel-wrapper .messages-list.allMessages .aside-block { display: none; }
    .dropdown-chatPanel .dropdown-panel-wrapper .messages-list.allMessages .messages-user { margin-right: 0; }

    .openChats .item .ava {height: 30px; width: 30px; }
    .openChats .item .remove { height: 30px; padding: 5px 6px 0; float: right; width: 30px; }

    .sendForm { width: 95%; max-width: 95%; padding-right: 60px; margin: 5px auto; }
    .sendForm .ava { display: none }
    .sendForm .text { display: none }
    .sendForm .leftBtns {width: 100px; height: 50px!important;}
    .sendForm textarea {width: calc(100% - 160px); max-height: 50px; margin-left: 10px; }
    .sendForm .leftBtns > div { margin: 0!important; }
    .sendForm .leftBtns #sendChatSmile { margin-left: 5px!important; width: 45px; height: 45px; float: none;}
    .sendForm .leftBtns #chatFileChoose-styler { width: 45px; height: 45px;}
    .sendForm .jq-file .jq-file__browse { width: 45px; height: 45px; float: none;}
    .sendForm .icon_enter, .sendForm #sendChatMsg { margin-top: 0!important; width: 45px; height: 45px; }
    .sendForm .icon_enter .submitArrow { width: 25px; height: 25px; margin-top: 0px; }
    .sendForm .icon_enter:hover .submitArrow { background-position: 0 -50px; }
    .sendForm .icon_enter:active .submitArrow { background-position: 0 -25px; }
}
